@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1500px)
	footer
		background: #fff url(../img/foot_r.png) 100% 0 no-repeat, url(../img/foot_l.png) 0 0 no-repeat !important

@media only screen and (min-width : 1360px)
	footer
		background: #fff url(../img/foot_r.png) 105% 0 no-repeat, url(../img/foot_l.png) -5% 0 no-repeat

@media only screen and (min-width : 1220px)
	footer
		background: #fff url(../img/foot_r.png) 112% 0 no-repeat, url(../img/foot_l.png) -12% 0 no-repeat

	/**/
@media only screen and (max-width : 1200px)
	.topnav ul li a
		padding: 13px 17px

	.topnav ul li
		margin-left: 0

	.services_icon
		margin-left: 0

	.topnav ul li:first-child
		margin-left: 0px
		width: 138px
		a
			padding-left: 15px
			padding-right: 10px
	.topnav ul li:last-child
		a
			padding-right: 30px
	.card_compar 
		background-position-x: 20%

	.card-compar--added
		background-position-x: 28%

	.cat .card_compar 
    	background-position-x: 16%


	.cat .card_compar.card-compar--added 
    	background-position-x: 25%


	footer
		background: #fff url(../img/foot_r.png) 115% 0 no-repeat, url(../img/foot_l.png) -15% 0 no-repeat

	.search
		margin-left: 45px

	.phones
		left: -20px

	//cat0 multicolumns

	.catlist.cat0 .catlist_content .row 
		column-count: 2
		column-gap: 15px
		column-fill: auto

	.catlist.cat0 .catlist_content .row .col-lg-4
		float: none
		width: auto

	.catlist.cat0 .col-lg-4:nth-child(2) .catlist_item:last-child
		break-before: always
		-webkit-column-break-before: always

	.catlist.cat0 .catlist_content .col-lg-4:nth-child(2) .catlist_item, .catlist.cat0 .catlist_content .col-lg-4:nth-child(3) .catlist_item
		margin-left: 0

	.compare_zone .row .compare_item .card 
		    width: 193px
		    margin-right: 10px
		    margin-left: 10px

	.main.inner.compar .content.compare 
			padding-left: 50px
			padding-right: 50px


	.compare_zone 
	    margin-left: -7px

	.product--1 .table_responsive
		width: 800px

		table thead td
			padding-left: 10px
			padding-right: 10px


	.cart .table_responsive
		width: 800px

		table thead td, table tbody tr td
			padding-left: 10px
			padding-right: 10px


	.content.lk .table_responsive
		width: 550px

	.order_info .cart_total
		width: 45%

	.main.inner.lk .col-lg-3
		padding-right: 0

	.main.inner.lk .content.lk
		padding-left: 50px
		padding-right: 50px

		form input
			margin-left: 0

		form .submit--blue, form .checkbox-inline
		 	margin-left: 55px

	.content.product.cart_page, .cat0 .catlist_head--inner, .catlist.cat0 .catlist_content, .content.product
		padding-left: 50px
		padding-right: 50px
	
	.leftside
		padding-right: 0
/* Medium Devices, Desktops */

@media only screen and (max-width: 1070px)
	table thead td
		padding: 10px 13px
		line-height: 100%



@media only screen and (max-width : 992px)


	.top_time
		display: none

	.top_addr
		margin-right: 0
		span
    		letter-spacing: -0.025em
    	

	.phones
		left: 0
		img
			margin-right: 3px

	.search
		position: relative
		left: 53px
		margin-left: 0
	
	.topnav ul
		display: none

		li
			margin-left: 0

	.topnav_mobile
		display: block

	.topnav_mobile

			.mobile_btn
				+background-image(linear-gradient(to top, #ea6c11 0, #fa7413 100%))
				margin-left: 0
				height: 41px
				border-top-left-radius: 4px
				border-bottom-left-radius: 4px
				width: 118px
				padding: 10px 20px
				line-height: 100%

				span
					color: #fff
					font-family: "PTSansBold"
					font-size: 14px
					text-transform: uppercase
					margin-left: 10px
					font-weight: normal
					font-style: normal

			.cartmod_mobile
				float: right
				line-height: 40px
				padding-right: 5px

				a
					font-size: 14px
					color: $text
					text-decoration: underline

					span
						font-family: "PTSansBold"
	.mainslider .slide
		background-position-x: 40%

	.catlist_head
		padding-right: 10px

	.catlist_itemhead
		padding-right: 0
		padding-left: 0

	.catlist .catlist_item
		margin-bottom: 25px

	.catlist
		margin-bottom: 45px

	.catlist.cat0 .catlist_content
		padding: 0 35px 

	.botmenu
		display: none

	.main .content
		padding: 50px 30px

	.cat.simplecat .card 
		margin: 17px 0 22px 0

	.cat.simplecat .card .card_name
		margin-bottom: 10px

	.main .content.lk
		padding: 35px 30px

	.main .content.lk .table_responsive
		width: 650px

	.about
		margin-bottom: 65px

	.brands
		
		margin-top: 65px

	// mobile menu

	nav.topnav ul 
		background: #fff
		position: absolute
		width: 100%
		text-align: left
		top: 40px
		height: auto
		border: #f2e3c6 1px solid


	nav.topnav li 
		display: block
		background: none !important

	.topnav ul li:first-child
		height: auto
		width: auto

		a:hover
			background: $blue
			color: #fff


	nav.topnav ul li a, .topnav ul li:first-child a
		background: none
		font-family: "PTSansBold"
		font-size: 16px
		color: $texth
		text-transform: none !important
		text-align: left
		padding-left: 25px
		padding-top: 8px
		padding-bottom: 8px

	.topnav ul li:first-child a img
		display: none

	.product_buy 
			max-width: none
			float: none
			margin-top: 0px
			border: none
			height: 105px
			padding-left: 5px
			
			.product_pricebl, .product_quantity, .product_downd
				display: inline-block
				vertical-align: top
				width: 32%
				padding-left: 10px
				padding-right: 10px
				border: none
				margin-top: 0
				border-left: #e2e2e2 1px solid 
				height: 100%

	.product .product_buy .product_downd, .product.content .product_buy .product_quantity form
		margin-top: 0

	.catlist_head.catlist_head--inner
		padding: 38px 35px 5px 35px

	.catlist_itemhead
		display: block

	.catlist_content
		padding-left: 30px
		padding-right: 30px

	.catlist.cat0 .catlist_content .col-lg-4:nth-child(2) .catlist_item
		margin-left: 5px

	.catlist.cat0 .catlist_content .col-lg-4:nth-child(3) .catlist_item
		margin-left: 0

	.catsort span
		font-size: 14px

	.cat3 .catfilter_group
		padding-top: 0
		.price_download
			margin-top: 0
	.main .content.lk
		padding-bottom: 25px
		margin-bottom: 0px
	.lk aside
		background: none
		border: none

	.lk .pagination ul li.pagination_prev,
	.lk	.pagination ul li.pagination_next
			height: 35px

	.lkmenu
		margin-bottom: 10px

	nav.lkmenu ul li
		display: inline-block
		background: #fff
		border: 1px solid #f2e3c6
		margin-right: 2px
		width: 175px

		a
			padding: 15px
			text-align: center

	.lkmenu ul li:last-child
		margin-right: 0

	.lk .cart_total
		min-width: 0
		width: 37%

	.card_compar
		margin: 0 auto 0 -3px

	.main.inner .breadcrumbs
		margin-bottom: 20px
		margin-top: 30px

		ul
			line-height: 120%
	.pagination
		padding-left: 50px
	.pagination ul li.pagination_next, .pagination ul li.pagination_prev
		height: 35px
	.catcontent
		margin-bottom: 27px
	.services_icon
		margin: 0 auto

	.services_text

		text-align: center

	.main.inner .services div[class^=col-]
		text-align: center

	.mainslider .slide .mainslider_content p

		margin-bottom: 0

	.contacts_form input
		margin-bottom: 20px

	.contacts_form textarea
		width: 310px
		height: 100px

	.product--2 .product_spec
		margin-left: 10px

	.product--1 .product_spec
		margin-left: 55px

	.product--1 .product_buylist
		margin-top: 20px

	.product--1 .product_buylist table thead td
		padding: 12.5px 20px

	.product--1
		.table_responsive
			width: 860px
		.product_buylist table tbody tr td
			padding: 10.5px 15px
		.product_buylist table tr td:first-child
		 	padding: 10.5px 15px
		.product_buylist table tr td:nth-child(3)
		 	padding: 10.5px 15px

	.content.product.product--1
		padding-bottom: 90px

	.cart_page .table_responsive
		width: 850px 

	.cart_page .cart table tbody tr td
		padding-left: 0
		padding-right: 0
	.cart_page .cart .product_buylist table tbody tr td:nth-child(3)
		padding-top: 25px

	.cart_page .cart table thead tr td
		text-align: left
	.cart_page .cart table thead tr td:nth-child(4)
		text-align: center
	.cart_page .cart table thead tr td:nth-child(2)
		padding-left: 0px

	.cart_page .cart_total
		margin-top: 20px
	.cart_page .cart_form
		margin-top: 41px

	.main.inner.compar .compare
		padding-top: 22px


	.compar .compare .card.card--compare
		width: 190px
		margin-left: 10px
		margin-right: 00px

		.card_close
			top: 5px
			right: 8px

	.order_info .lk h3
		margin-bottom: 15px

	.order_info .lk table thead td
		padding: 10px 0 12px

	.lk.sett
		.lk_head
			padding-bottom: 22px
			margin-bottom: 22px

		form
			input
				margin-left: -3px

			.checkbox-inline
				margin-left: 112px

			.submit--blue
				margin-left: 110px

	.lk.sett.sett--pass
		form
			input
				margin-left: 21px

			.submit--blue
				margin-left: 135px

	.lk.lk--bal
		table  thead td:nth-child(2)
			text-align: left
			padding-left: 33px

		table tbody td:nth-child(2)
			text-align: left
			padding-left: 0

	.modal_top

		.btn
			margin-right: 40px


	.modal.modal--login
		p
			margin-bottom: 0
		form
			margin-top: 25px


			a, .submit--blue
				margin-left: 80px

			a
				font-size: 14px


	.modal.modal--err
		.btn.btn_blue
			margin-top: 40px

	.product .product_buy .product_quantity
		margin-top: 0

	.product .product_price
		line-height: 100%

	.product--2 .product_buy
		margin-top: 20px		


	





	
/* Small Devices, Tablets */
@media only screen and (max-width : 769px)

	header
		padding-top: 32px
	
	.content img
		max-width: 100%

	.content.article
		margin-bottom: 40px

	.main.inner header
		padding-top: 0
		padding-bottom: 0

	.main.inner .content h1
		margin-top: 20px
		margin-bottom: 15px
		line-height: 112%

	.main.inner h1
		margin-top: 50px
	.main.inner.cat h1
		margin-top: 42px
		line-height: 130%
	.main .content header h1
		margin-bottom: 20px

	.main.inner header h1
		margin-bottom: 30px

	.logo img
		width: 120px

	.top_time, .cartmod, .topnav ul, .botmenu
		display: none

	.top .text-right
		text-align-last: center

	.top_comparisone
		float: left

	.top_useracc
		float: right

	.topnav
		height: 40px
		margin-top: 3px
		

	.topnav ul li
		margin-left: 0

	.catlist
		margin-top: 45px

	.phones, .logo
		display: inline-block
		vertical-align: middle
		position: static

	.phones
		float: right
		margin-top: 0

		.phones_unite
			margin-bottom: 3px

		.phones_phone
			line-height: 100%
			margin-bottom: 2px

	.search
		float: none
		left: 10px
		margin-top: 25px

		form input
			width: 255px


	.top_addr span
		font-size: 13px

	.topnav_mobile .cartmod_mobile
		padding-right: 20px

	.topnav ul li:first-child
		width: auto
		border-right: 0
		a
			&:hover
				background: $blue
				color: #fff

	nav.topnav ul
		top: 40px

	.mainslider .slide
		background-position-x: 50%

	.cat0 .catlist_head.catlist_head--inner
		padding: 45px 22px 5px

	.catlist.cat0 .catlist_content
		padding-left: 22px
		padding-right: 22px

	.catlist_head .row div:last-child a
		float: right

	.catlist_head .row div:last-child img
		margin-right: 8px
		margin-top: -5px

	.cat0 .catlist_head
		margin-bottom: 0

	.catlist_head 
		padding-top: 12px
		padding-bottom: 9px

	.catlist_itemhead
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-content: flex-start
		align-content: center
		align-items: center

		h3
			flex-grow: 4
			flex-basis: 200px

		
	.main.inner .cat0 .catlist_item
	.catlist_itemhead
		img, h3
			vertical-align: middle
			display: inline-block

		img
			float: none !important

	.main.inner .catlist_head h1
			margin-top: 20px
			margin-bottom: 20px
	.cat .card
		margin-bottom: 30px
	.card 
		max-width: 280px
		margin: 15px auto

	.card_compar
		margin: 0 auto 0 -3px
		

	.services div[class^=col-], .services_text
		text-align: center

	.modhits .owl-controls
		display: none !important

	footer
		background: url(../img/foot_r.png) 125% 0 no-repeat, url(../img/foot_l.png) -25% 0 no-repeat
		height:  auto
		padding: 10px 0

		.copy
			margin-top: 10px
			text-align: center

		.last .dev	
			margin-top: 15px
			text-align: center

	.card_compar
		padding-left: 30px

	.compare_catlist
		height: auto

	.main .content, .main.inner.compar .content.compare
		padding: 30px 20px

	.about
		margin-bottom: 0

	
	a.catfilter_show
	    padding: 10px 0
	    text-decoration: none
	    border-bottom: #e2e2e2 1px dashed
	    line-height: 100%
	    width: 66px
	    height: 30px
	    margin: 10px 20px
	    font-family: "PantonBold"

	.catfilter
		display: none

	.cat_item
		margin-left: auto
		margin-right: auto
		max-width: 300px

	aside
		margin-bottom: 20px

	.main .content
		padding-left: 20px
		padding-right: 20px

	

	

	.compare_zone
		margin-left: 0
		margin-top: 25px

	.compar .compare .card.card--compare
			width: 240px
			.card_close
				top: 11px
				right: 14px


	.compar .compare_zone .row .compare_item .compare_data li
		padding: 3px 15px 8px 26px
	.compare_zone .row .compare_item .compare_data ul
	margin-top: 28px

	.main.inner.compar .compare
		margin-bottom: 30px

	.article_full .img--left, .article_img--prev
		float: none
		width: 100%

	.article_img--prev img
		width: 100%

	.modal
		max-width: 290px
		width: 95%
		padding: 20px
		min-width: 0
		max-height: none
		top: 60%
		.close
			top: 9px
			right: 10px
		h2, p
			margin-left: 0

		h2
			margin-top: 20px
			line-height: 100%
			margin-bottom: 20px

		p
			margin-bottom: 25px
			line-height: 100%

	.modal.added .btn
		display: block
		width: 100%
		margin-bottom: 10px
		margin-left: 0
		
	
	.modal_top
		text-align: left
		padding-top: 35px
		h4
			line-height: 120%
			font-weight: normal
		p
			line-height: 110%
			font-size: 14px
			margin-bottom: 30px
		.btn
			float: none
			font-size: 14px
			padding: 12px 20px



	.modal_top .btn
		width: 50%
		margin-right: auto

	.modal_top .close
	    top: -120px
	    right: 15px

	table tr td
		padding: 15px 20px
		line-height: 100%
		

		.product_quantity input
			margin-bottom: 0
	
	.product .product_quantity form
		margin-top: 0



	.catlist_content	
		padding-top: 0

	.main.inner .catlist_item ul li
		margin-bottom: 5px

	.catlist .catlist_item h3
		padding-right: 0
		display: inline-block
		padding-left: 5px
		width: auto
	
	.catmenu li a
		line-height: 100%
		
	
	
	.radio-inline
		line-height: 100%
		margin-bottom: 10px

	textarea
		width: 100%
		height: 100px

	.main.inner.lk header h1
		margin-bottom: 18px
		margin-top: 45px
		letter-spacing: 0.14em
	.main .content.lk
		padding: 36px 22px
		margin-top: 0px
	.main.inner.lk .lk_head
		border-bottom: none
	.lk aside
		margin-bottom: 0
	.content.lk
		
	
	
		.lk_head
			padding-bottom: 0
			margin-bottom: 15px
			h2
				margin-top: 0
				line-height: 110%
				margin-bottom: 5px
		.lk_nav li
			line-height: 100%

		.lk_filter
			padding-top: 2px
			padding-bottom: 15px
			padding-left: 15px
			padding-right: 15px

			input
				height: 30px
				width: 90%
				margin-left: 9px
				vertical-align: middle
				margin-bottom: 7px
				margin-right: 0


			span
				line-height: 100%
				margin-bottom: 8px
				margin-right: 5px
				display: inline-block
				vertical-align: middle
				padding-top: 0
				width: 2%
				&:nth-child(1) 
					width: 100%	
				
				

	.content.lk .lk_filter form .btn_blue
				font-family: "PTSansBold"
				font-size: 14px
				width: 100%	
				max-width: none
				margin-left: 0
				height: 40px
		
	.lk .pagination ul li.pagination_next, .lk .pagination ul li.pagination_prev, .pagination ul li.pagination_next, .pagination ul li.pagination_prev
		height: 13px
	.lk nav.lkmenu ul li
			width: 100%
			margin-bottom: 5px
	.lk_table
		margin-bottom: 60px
	.lk table tbody tr td
		padding: 13px 0

	.main.inner .breadcrumbs
		margin: 25px 0 30px

		li a
			margin-left: 3px
			margin-right: 3px
	a.catfilter_show
		margin: 15px 20px
	.article_header h3
		line-height: 110%
		margin-top: 20px

	.article ul 
		line-height: 150%
	
	

	.compare_zone .row .compare_item
		margin-right: 5px
		margin-left: 5px

	.compare_zone .row .compare_item .compare_data li
		min-height: 24px
		clear: both
		display: block
		padding: 5px 15px

	.compare_zone .row .compare_item .compare_data li
	 	
		&:last-child
			min-height: 40px
			clear: none

		
	.compare_item .compare_data li span
		display: inline

	

	.catlist_head
		margin-bottom: 25px

	.card .card_name
		max-width: 175px
		margin-left: auto
		margin-right: auto

	.modhits h2
		font-size: 24px
		margin-left: 0
		margin-right: 0
		line-height: 100%
		margin-bottom: 15px

	.about h1
		line-height: 110%
		margin-bottom: 10px

	.breadcrumbs
		margin-bottom: 15px
		ul li
			line-height: 22px
			&:after
				font-size: 13px
				display: inline-block
				vertical-align: middle
			a
				line-height: 100%

	.main.inner .breadcrumbs
		margin-bottom: 15px

	.product_img
		padding-top: 65px
		margin-bottom: 30px

	.product_img .card_label
		top: 13px

	.product .product_buy
		height: auto

	.product .product_prices
		padding-left: 0

	.product .product_quantity
		margin-top: 20px

	.product_fulltext
		margin-top: 0

	.product h2
		margin-bottom: 0
		line-height: 100%
	.content.product.product--1
		padding-bottom: 115px
	.product--1
		.product_img
			padding-top: 50px
			margin-bottom: 5px
		.product_spec
			margin-left: 0

		.product_buylist
			margin-top: 30px

		.product_quantity
			margin-top: 0

	.pagination
		width: 100%
		padding-left: 0
		text-align: center
		margin-top: -5px
		ul
			margin-top: 0
		li
			line-height: 100%
	.pagination ul li.pagination_next, .pagination ul li.pagination_prev
		height: 12px

	.catcontent
		margin-top: 20px

		h2
			margin-top: 27px

	.main.inner .cart_page header
		margin-bottom: 12px

	.cart_page .cart .cart_total
		margin-top: 40px 
	.cart_page .cart .cart_form p
		margin-bottom: 5px
	.cart_page .cart .cart_form form
			margin-top: 5px 

			input
				margin-left: 0
				margin-top: 4px
				margin-bottom: 17px

			h3
				margin-bottom: 24px
				margin-top: 23px

			.btn_orange.btn_orange
				margin-top: 18px
				width: 124px
				height: 40px
				max-width: none
	.content.product.cart_page
		padding-bottom: 43px


	.finded .catsort
		margin-bottom: 3px

	.search_result
		line-height: 140%

	.catsort span
		margin-right: 5px
	
	.finded .card
		margin-bottom: 30px

	.finded .card a:nth-child(1), .finded .card a:nth-child(2)
		margin-top: 20px

	.finded .card .card_name
		margin-top: 10px

	.finded .card img
		height: 160px

	.order_info .lk .lk_head
		margin-bottom: 20px
	.order_info .lk .lk_info h3
		margin-bottom: 5px

	.order_info .lk .lk_info ul
		margin-top: 0
		li
			line-height: 127%
	
	.order_info .lk table tbody td
		padding: 23px 0

	.order_info .lk table tbody td:first-child .product_code
		margin-bottom: 20px

	.order_info .cart_total
		margin-top: 40px

	.order_info .content.lk
		padding-bottom: 53px

	.lk.sett

		.content.lk
			padding-bottom: 48px

		.lk_head
			margin-bottom: 45px

		form
			label
				margin-bottom: 10px

			input
				width: 100%
				padding-left: 20px
				margin-bottom: 13px

			.checkbox-inline
				margin-left: 0
				margin-top: 0
				margin-bottom: 11px

			.submit--blue
				width: 100%
				margin-left: 0
				height: 40px
				margin-top: 0

	.lk.sett.sett--pass
		.content.lk
			padding-bottom: 50px
		p
			line-height: 135%
			margin-bottom: 26px
		form
			input
				margin-left: 0

			.submit--blue
				margin-left: 0
				margin-top: 12px


	.modal.modal--login
		min-width: 0
		width: 290px
		h3
			line-height: 120%
			margin-left: 0
			margin-top: 35px
		form
			margin-left: 0
			margin-right: 0
			margin-top: 45px
			width: 100%

			input
				margin-top: 0px
				margin-bottom: 20px
				width: 100%
				margin-left: 0	

			label
				line-height: 100%
				margin-bottom: 10px




			.submit--blue
				width: 100%
				margin-left: 0
				height: 40px
				margin-top: 15px

			a
				margin-left: 0
	.modal.modal--login.modal--reg form input.re-pass, .modal.modal--login.modal--reg form input, .modal.modal--login.modal--reg form .checkbox-inline, .modal.modal--login.modal--reg form a
		margin-left: 0

	.modal.modal--login.modal--reg
		transform: translate(-50%,-40%)
		overflow-x: hidden

	.modal.modal--err

		p
			line-height: 120%
		.btn.btn_blue
			margin-left: 0px
			width: 100%
			margin-top: 40px

	.catlist_content
		padding-left: 23px
		padding-right: 23px

	.catlist_head
		padding-left: 23px
		padding-right: 23px

	//cat0 multicolumns

	.catlist.cat0 .catlist_content .row 
		column-count: 1
		column-gap: 15px
		column-fill: auto

	.col-lg-4
		float: none
		width: auto
	
	.cat .card_compar.card-compar--added
		background-position-x: 34%

	.cat .card_compar 
    	background-position-x: 27%

@media only screen and (max-width : 736px)

	header
		padding-top: 35px

	.search
		form input
			width: 80%

	.product_spec
		margin-left: 0

	.product_img img
		margin: 0 auto

	.product_buy
		padding: 10px
		border-left: #e2e2e2 1px solid
		.product_pricebl, .product_quantity, .product_downd
			border-left: none
			width: auto
			display: inline-block
			height: auto
			min-height: 0



		.product_pricebl
			border-bottom: #e2e2e2 1px solid
			padding-bottom: 10px

	.lkmenu ul li
		display: block
		width: 100%
		margin-bottom: 10px

		a
			text-align: center

	.lk .cart_total
		min-width: 0
		width: 100%


	.card_compar.card-compar--added
		background-position-x: 34%

	.card_compar
		background-position-x: 28%

	.content.article header
		width: 90%



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.top_addr, .slider
		display: none

	

	header
		.logo, .phones
			float: left
			vertical-align: top
			width: 48%
			margin-top: 0

		.phones 
			margin-left: 10px
			float: right
		.logo 
			width: 120px
			img
				display: block
				width: 100%
		.search
			float: none
			margin-left: auto
			margin-right: auto
			position: relative
			text-align: center
			

		.catlist_head
			padding-left: 15px
			padding-right: 15px

			img, a.visible-xs
				display: inline-block !important
				vertical-align: top

	.catlist_itemhead h3
		width: 80%
		line-height: 120%

		.catlist_content
			padding-left: 10px
			padding-right: 10px

			.catlist_itemhead h3
				font-size: 16px

	h1, h2
		font-size: 24px

	

	footer
		background: none
		text-align: center

		.last .dev
			margin: 0 auto
			text-align: center

	.breadcrumbs li, .breadcrumbs li:after 
		line-height: 100%

	.breadcrumbs li:after
		margin-left: 0
		margin-right: 0

	.contacts_form [type="submit"], .contacts_form [type="text"]
		width: 100%
		max-width: none

	.cartmod_mobile
		a
			padding: 0

	aside
		margin-bottom: 20px
	
	.lk_head h2
		margin-top: 10px

	.lk_nav ul
		padding-left: 0
		margin-top: 0
		margin-bottom: 0

		li:first-child a
			padding-left: 0

	.lk_filter

		form
			text-align: left
			margin-top: 10px

		span
			display: inline-block
			vertical-align: top
			padding-top: 10px
			width: 15%

		form span:first-child
			width: 100%
			margin-bottom: 10px


		input[type="text"], input[type="submit"]
			width: 80%
			display: inline-block
			vertical-align: top

		input[type="text"]
			height: 40px

		input[type="submit"]
			width: 100%

	.lk .lk_info .print_link
		display: block

	.pagination ul
		padding-left: 0

		li
			margin-right: 5px

	.modal_top .close
	    top: -85px

	.modal_top .btn
		width: 100%

	.cart_page .cart .cart_form form .btn_orange.btn_orange
		width: 100%

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.card
		width: 100%
		max-width: none




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */



