@import "bourbon"
@import "vars.sass"

//Load Libs SASS
//@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: $text
	opacity: 1

*:-moz-placeholder
	color: $text
	opacity: 1

*::-moz-placeholder
	color: $text
	opacity: 1

*:-ms-input-placeholder
	color: $text
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
//typo
@font-face 
	font-family: "PTSansRegular"
	src: url('../fonts/PTSansRegular/PTS55F_W.eot') format('embeded-opentype')
	src: url('../fonts/PTSansRegular/PTS55F_W.eot?#iefix')
	src: local('PTSansRegular')
	src: url('../fonts/PTSansRegular/PTS55F_W.woff') format('woff')
	src: url('../fonts/PTSansRegular/PTS55F_W.svg') format('svg')
	src: url('../fonts/PTSansRegular/PTS55F_W.ttf') format('truetype')

@font-face 
	font-family: "PTSansBold"
	src: url('../fonts/PTSansBold/PTS75F_W.eot') format('embeded-opentype')
	src: url('../fonts/PTSansBold/PTS75F_W.eot?#iefix')
	src: local('PTSansBold')
	src: url('../fonts/PTSansBold/PTS75F_W.woff') format('woff')
	src: url('../fonts/PTSansBold/PTS75F_W.svg') format('svg')
	src: url('../fonts/PTSansBold/PTS75F_W.ttf') format('truetype')

@font-face 
	font-family: "PantonBold"
	src: url('../fonts/PantonBold/PantonBold.eot') format('embeded-opentype')
	src: url('../fonts/PTSansBold/PTS75F_W.eot?#iefix')
	src: local('PantonBold')
	src: url('../fonts/PantonBold/PantonBold.woff') format('woff')
	src: url('../fonts/PantonBold/PantonBold.svg') format('svg')
	src: url('../fonts/PantonBold/PantonBold.ttf') format('truetype')

@font-face 
	font-family: "PantonExtraBold"
	src: url('../fonts/PantonExtraBold/PantonExtraBold.eot') format('embeded-opentype')
	src: url('../fonts/PantonExtraBold/PantonExtraBold.eot?#iefix')
	src: local('PantonExtraBold')
	src: url('../fonts/PantonExtraBold/PantonExtraBold.woff') format('woff')
	src: url('../fonts/PantonExtraBold/PantonExtraBold.svg') format('svg')
	src: url('../fonts/PantonExtraBold/PantonExtraBold.ttf') format('truetype')

@font-face 
	font-family: "PantonSemiBold"
	src: url('../fonts/PantonSemiBold/PantonSemiBold.eot') format('embeded-opentype')
	src: url('../fonts/PantonSemiBold/PantonSemiBold.eot?#iefix')
	src: local('PantonSemiBold')
	src: url('../fonts/PantonSemiBold/PantonSemiBold.woff') format('woff')
	src: url('../fonts/PantonSemiBold/PantonSemiBold.svg') format('svg')
	src: url('../fonts/PantonSemiBold/PantonSemiBold.ttf') format('truetype')

	//icons
@include font-face("Glyphicons", "../fonts/Glyphicons/glyphicons-halflings-regular", $file-formats: eot woff ttf svg)
.glyphicon 
		position: relative
		top: 1px
		display: inline-block
		font-family: Glyphicons
		font-style: normal
		font-weight: normal
		line-height: 1
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale

.glyphicon-asterisk:before
		content: "\002a"

.glyphicon-plus:before
		content: "\002b"

.glyphicon-euro:before, .glyphicon-eur:before
		content: "\20ac"

.glyphicon-minus:before
		content: "\2212"

.glyphicon-cloud:before
		content: "\2601"

.glyphicon-envelope:before
		content: "\2709"

.glyphicon-pencil:before
		content: "\270f"

.glyphicon-glass:before
		content: "\e001"

.glyphicon-music:before
		content: "\e002"

.glyphicon-search:before
		content: "\e003"

.glyphicon-heart:before
		content: "\e005"

.glyphicon-star:before
		content: "\e006"

.glyphicon-star-empty:before
		content: "\e007"

.glyphicon-user:before
		content: "\e008"

.glyphicon-film:before
		content: "\e009"

.glyphicon-th-large:before
		content: "\e010"

.glyphicon-th:before
		content: "\e011"

.glyphicon-th-list:before
		content: "\e012"

.glyphicon-ok:before
		content: "\e013"

.glyphicon-remove:before
		content: "\e014"

.glyphicon-zoom-in:before
		content: "\e015"

.glyphicon-zoom-out:before
		content: "\e016"

.glyphicon-off:before
		content: "\e017"

.glyphicon-signal:before
		content: "\e018"

.glyphicon-cog:before
		content: "\e019"

.glyphicon-trash:before
		content: "\e020"

.glyphicon-home:before
		content: "\e021"

.glyphicon-file:before
		content: "\e022"

.glyphicon-time:before
		content: "\e023"

.glyphicon-road:before
		content: "\e024"

.glyphicon-download-alt:before
		content: "\e025"

.glyphicon-download:before
		content: "\e026"

.glyphicon-upload:before
		content: "\e027"

.glyphicon-inbox:before
		content: "\e028"

.glyphicon-play-circle:before
		content: "\e029"

.glyphicon-repeat:before
		content: "\e030"

.glyphicon-refresh:before
		content: "\e031"

.glyphicon-list-alt:before
		content: "\e032"

.glyphicon-lock:before
		content: "\e033"

.glyphicon-flag:before
		content: "\e034"

.glyphicon-headphones:before
		content: "\e035"

.glyphicon-volume-off:before
		content: "\e036"

.glyphicon-volume-down:before
		content: "\e037"

.glyphicon-volume-up:before
		content: "\e038"

.glyphicon-qrcode:before
		content: "\e039"

.glyphicon-barcode:before
		content: "\e040"

.glyphicon-tag:before
		content: "\e041"

.glyphicon-tags:before
		content: "\e042"

.glyphicon-book:before
		content: "\e043"

.glyphicon-bookmark:before
		content: "\e044"

.glyphicon-print:before
		content: "\e045"

.glyphicon-camera:before
		content: "\e046"

.glyphicon-font:before
		content: "\e047"

.glyphicon-bold:before
		content: "\e048"

.glyphicon-italic:before
		content: "\e049"

.glyphicon-text-height:before
		content: "\e050"

.glyphicon-text-width:before
		content: "\e051"

.glyphicon-align-left:before
		content: "\e052"

.glyphicon-align-center:before
		content: "\e053"

.glyphicon-align-right:before
		content: "\e054"

.glyphicon-align-justify:before
		content: "\e055"

.glyphicon-list:before
		content: "\e056"

.glyphicon-indent-left:before
		content: "\e057"

.glyphicon-indent-right:before
		content: "\e058"

.glyphicon-facetime-video:before
		content: "\e059"

.glyphicon-picture:before
		content: "\e060"

.glyphicon-map-marker:before
		content: "\e062"

.glyphicon-adjust:before
		content: "\e063"

.glyphicon-tint:before
		content: "\e064"

.glyphicon-edit:before
		content: "\e065"

.glyphicon-share:before
		content: "\e066"

.glyphicon-check:before
		content: "\e067"

.glyphicon-move:before
		content: "\e068"

.glyphicon-step-backward:before
		content: "\e069"

.glyphicon-fast-backward:before
		content: "\e070"

.glyphicon-backward:before
		content: "\e071"

.glyphicon-play:before
		content: "\e072"

.glyphicon-pause:before
		content: "\e073"

.glyphicon-stop:before
		content: "\e074"

.glyphicon-forward:before
		content: "\e075"

.glyphicon-fast-forward:before
		content: "\e076"

.glyphicon-step-forward:before
		content: "\e077"

.glyphicon-eject:before
		content: "\e078"

.glyphicon-chevron-left:before
		content: "\e079"

.glyphicon-chevron-right:before
		content: "\e080"

.glyphicon-plus-sign:before
		content: "\e081"

.glyphicon-minus-sign:before
		content: "\e082"

.glyphicon-remove-sign:before
		content: "\e083"

.glyphicon-ok-sign:before
		content: "\e084"

.glyphicon-question-sign:before
		content: "\e085"

.glyphicon-info-sign:before
		content: "\e086"

.glyphicon-screenshot:before
		content: "\e087"

.glyphicon-remove-circle:before
		content: "\e088"

.glyphicon-ok-circle:before
		content: "\e089"

.glyphicon-ban-circle:before
		content: "\e090"

.glyphicon-arrow-left:before
		content: "\e091"

.glyphicon-arrow-right:before
		content: "\e092"

.glyphicon-arrow-up:before
		content: "\e093"

.glyphicon-arrow-down:before
		content: "\e094"

.glyphicon-share-alt:before
		content: "\e095"

.glyphicon-resize-full:before
		content: "\e096"

.glyphicon-resize-small:before
		content: "\e097"

.glyphicon-exclamation-sign:before
		content: "\e101"

.glyphicon-gift:before
		content: "\e102"

.glyphicon-leaf:before
		content: "\e103"

.glyphicon-fire:before
		content: "\e104"

.glyphicon-eye-open:before
		content: "\e105"

.glyphicon-eye-close:before
		content: "\e106"

.glyphicon-warning-sign:before
		content: "\e107"

.glyphicon-plane:before
		content: "\e108"

.glyphicon-calendar:before
		content: "\e109"

.glyphicon-random:before
		content: "\e110"

.glyphicon-comment:before
		content: "\e111"

.glyphicon-magnet:before
		content: "\e112"

.glyphicon-chevron-up:before
		content: "\e113"

.glyphicon-chevron-down:before
		content: "\e114"

.glyphicon-retweet:before
		content: "\e115"

.glyphicon-shopping-cart:before
		content: "\e116"

.glyphicon-folder-close:before
		content: "\e117"

.glyphicon-folder-open:before
		content: "\e118"

.glyphicon-resize-vertical:before
		content: "\e119"

.glyphicon-resize-horizontal:before
		content: "\e120"

.glyphicon-hdd:before
		content: "\e121"

.glyphicon-bullhorn:before
		content: "\e122"

.glyphicon-bell:before
		content: "\e123"

.glyphicon-certificate:before
		content: "\e124"

.glyphicon-thumbs-up:before
		content: "\e125"

.glyphicon-thumbs-down:before
		content: "\e126"

.glyphicon-hand-right:before
		content: "\e127"

.glyphicon-hand-left:before
		content: "\e128"

.glyphicon-hand-up:before
		content: "\e129"

.glyphicon-hand-down:before
		content: "\e130"

.glyphicon-circle-arrow-right:before
		content: "\e131"

.glyphicon-circle-arrow-left:before
		content: "\e132"

.glyphicon-circle-arrow-up:before
		content: "\e133"

.glyphicon-circle-arrow-down:before
		content: "\e134"

.glyphicon-globe:before
		content: "\e135"

.glyphicon-wrench:before
		content: "\e136"

.glyphicon-tasks:before
		content: "\e137"

.glyphicon-filter:before
		content: "\e138"

.glyphicon-briefcase:before
		content: "\e139"

.glyphicon-fullscreen:before
		content: "\e140"

.glyphicon-dashboard:before
		content: "\e141"

.glyphicon-paperclip:before
		content: "\e142"

.glyphicon-heart-empty:before
		content: "\e143"

.glyphicon-link:before
		content: "\e144"

.glyphicon-phone:before
		content: "\e145"

.glyphicon-pushpin:before
		content: "\e146"

.glyphicon-usd:before
		content: "\e148"

.glyphicon-gbp:before
		content: "\e149"

.glyphicon-sort:before
		content: "\e150"

.glyphicon-sort-by-alphabet:before
		content: "\e151"

.glyphicon-sort-by-alphabet-alt:before
		content: "\e152"

.glyphicon-sort-by-order:before
		content: "\e153"

.glyphicon-sort-by-order-alt:before
		content: "\e154"

.glyphicon-sort-by-attributes:before
		content: "\e155"

.glyphicon-sort-by-attributes-alt:before
		content: "\e156"

.glyphicon-unchecked:before
		content: "\e157"

.glyphicon-expand:before
		content: "\e158"

.glyphicon-collapse-down:before
		content: "\e159"

.glyphicon-collapse-up:before
		content: "\e160"

.glyphicon-log-in:before
		content: "\e161"

.glyphicon-flash:before
		content: "\e162"

.glyphicon-log-out:before
		content: "\e163"

.glyphicon-new-window:before
		content: "\e164"

.glyphicon-record:before
		content: "\e165"

.glyphicon-save:before
		content: "\e166"

.glyphicon-open:before
		content: "\e167"

.glyphicon-saved:before
		content: "\e168"

.glyphicon-import:before
		content: "\e169"

.glyphicon-export:before
		content: "\e170"

.glyphicon-send:before
		content: "\e171"

.glyphicon-floppy-disk:before
		content: "\e172"

.glyphicon-floppy-saved:before
		content: "\e173"

.glyphicon-floppy-remove:before
		content: "\e174"

.glyphicon-floppy-save:before
		content: "\e175"

.glyphicon-floppy-open:before
		content: "\e176"

.glyphicon-credit-card:before
		content: "\e177"

.glyphicon-transfer:before
		content: "\e178"

.glyphicon-cutlery:before
		content: "\e179"

.glyphicon-header:before
		content: "\e180"

.glyphicon-compressed:before
		content: "\e181"

.glyphicon-earphone:before
		content: "\e182"

.glyphicon-phone-alt:before
		content: "\e183"

.glyphicon-tower:before
		content: "\e184"

.glyphicon-stats:before
		content: "\e185"

.glyphicon-sd-video:before
		content: "\e186"

.glyphicon-hd-video:before
		content: "\e187"

.glyphicon-subtitles:before
		content: "\e188"

.glyphicon-sound-stereo:before
		content: "\e189"

.glyphicon-sound-dolby:before
		content: "\e190"

.glyphicon-sound-5-1:before
		content: "\e191"

.glyphicon-sound-6-1:before
		content: "\e192"

.glyphicon-sound-7-1:before
		content: "\e193"

.glyphicon-copyright-mark:before
		content: "\e194"

.glyphicon-registration-mark:before
		content: "\e195"

.glyphicon-cloud-download:before
		content: "\e197"

.glyphicon-cloud-upload:before
		content: "\e198"

.glyphicon-tree-conifer:before
		content: "\e199"

.glyphicon-tree-deciduous:before
		content: "\e200"

.glyphicon-cd:before
		content: "\e201"

.glyphicon-save-file:before
		content: "\e202"

.glyphicon-open-file:before
		content: "\e203"

.glyphicon-level-up:before
		content: "\e204"

.glyphicon-copy:before
		content: "\e205"

.glyphicon-paste:before
		content: "\e206"

.glyphicon-alert:before
		content: "\e209"

.glyphicon-equalizer:before
		content: "\e210"

.glyphicon-king:before
		content: "\e211"

.glyphicon-queen:before
		content: "\e212"

.glyphicon-pawn:before
		content: "\e213"

.glyphicon-bishop:before
		content: "\e214"

.glyphicon-knight:before
		content: "\e215"

.glyphicon-baby-formula:before
		content: "\e216"

.glyphicon-tent:before
		content: "\26fa"

.glyphicon-blackboard:before
		content: "\e218"

.glyphicon-bed:before
		content: "\e219"

.glyphicon-apple:before
		content: "\f8ff"

.glyphicon-erase:before
		content: "\e221"

.glyphicon-hourglass:before
		content: "\231b"

.glyphicon-lamp:before
		content: "\e223"

.glyphicon-duplicate:before
		content: "\e224"

.glyphicon-piggy-bank:before
		content: "\e225"

.glyphicon-scissors:before
		content: "\e226"

.glyphicon-bitcoin:before, .glyphicon-btc:before, .glyphicon-xbt:before
		content: "\e227"

.glyphicon-yen:before, .glyphicon-jpy:before
		content: "\00a5"

.glyphicon-ruble:before, .glyphicon-rub:before
		content: "\20bd"

.glyphicon-scale:before
		content: "\e230"

.glyphicon-ice-lolly:before
		content: "\e231"

.glyphicon-ice-lolly-tasted:before
		content: "\e232"

.glyphicon-education:before
		content: "\e233"

.glyphicon-option-horizontal:before
		content: "\e234"

.glyphicon-option-vertical:before
		content: "\e235"

.glyphicon-menu-hamburger:before
		content: "\e236"

.glyphicon-modal-window:before
		content: "\e237"

.glyphicon-oil:before
		content: "\e238"

.glyphicon-grain:before
		content: "\e239"

.glyphicon-sunglasses:before
		content: "\e240"

.glyphicon-text-size:before
		content: "\e241"

.glyphicon-text-color:before
		content: "\e242"

.glyphicon-text-background:before
		content: "\e243"

.glyphicon-object-align-top:before
		content: "\e244"

.glyphicon-object-align-bottom:before
		content: "\e245"

.glyphicon-object-align-horizontal:before
		content: "\e246"

.glyphicon-object-align-left:before
		content: "\e247"

.glyphicon-object-align-vertical:before
		content: "\e248"

.glyphicon-object-align-right:before
		content: "\e249"

.glyphicon-triangle-right:before
		content: "\e250"

.glyphicon-triangle-left:before
		content: "\e251"

.glyphicon-triangle-bottom:before
		content: "\e252"

.glyphicon-triangle-top:before
		content: "\e253"

.glyphicon-console:before
		content: "\e254"

.glyphicon-superscript:before
		content: "\e255"

.glyphicon-subscript:before
		content: "\e256"

.glyphicon-menu-left:before
		content: "\e257"

.glyphicon-menu-right:before
		content: "\e258"

.glyphicon-menu-down:before
		content: "\e259"

.glyphicon-menu-up:before
		content: "\e260"

h1
	text-transform: uppercase

h1,h2,h3
	font-family: "PantonBold"
	font-weight: normal
	color: $texth

h4,h5,h6
	font-family: "PantonSemiBold"

h1
	font-size: 28px
	margin-bottom: 20px
	padding-bottom: 0
	letter-spacing: 0.035em
	
h2
	font-size: 24px
	text-align: left
	line-height: 120%

h3
	font-size: 18px
	text-align: left

h4
	font-size: 16px

h5
	font-size: 15px

h6
	font-size: 14px


ul
	list-style: none
	padding-left: 15px
	li
		line-height: 200%

body 
	font-family: $font
	color: $text
	background: url(../img/bg_texture.png)

p
	font-size: 16px
	line-height: 150%

a
	color: $text
	text-decoration: underline

	&:hover
		color: $text
		text-decoration: none

.p--18
	font-size: 18px

.p--15
	font-size: 15px

.p--14
	font-size: 14px

b, strong
	font-weight: normal
	font-family: "PTSansBold"

a.link--blue
	color: $blue

address 
	font-style: normal

.text--underline
	text-decoration: underline

.text-right 
	text-align: right

.text-left
	text-align: left

.text-center
	text-align: center

//buttons

.btn
	display: inline-block
	padding: 5px 15px
	box-shadow: rgba(85,85,85, .25) 0px 2px 10px 
	font-size: 15px
	color: $text
	border: #c8c8c8 1px solid
	min-width: 115px
	text-align: center

	&:hover
		text-decoration: none
		color: $text
.btn
	text-decoration: none
.btn-light  
	border-radius: 4px
	+background-image(linear-gradient(to top, $menu-grad-stop 0, $menu-grad-start 100%))

.slider .btn-light
	width: 115px
	height: 35px

.btn_blue
	border-radius: 5px
	background: $blue !important
	color: $text-inv
	font-family: "PTSansBold"
	font-size: 14px
	text-transform: uppercase
	width: 160px

.card .btn_blue
	width: 165px
	height: 35px
	padding: 7px 15px
	letter-spacing: 0.05em


	&:hover 
		color: $text-inv

.btn_orange
	background: $orange
	color: #fff
	border-radius: 4px
	box-shadow: none
	border: none
	text-transform: uppercase
	font-family: "PTSansBold"
	font-size: 12px
	line-height: 100%
	padding: 10px

	&:hover
		color: #fff


.btn_gray
	+background-image(linear-gradient(to top, $menu-grad-stop 0, $menu-grad-start 100%))
	color: $text
	border-radius: 4px
	box-shadow: none
	text-transform: uppercase
	font-family: "PTSansBold"
	font-size: 12px
	line-height: 100%
	padding: 10px
	text-align: center
	text-decoration: none

	&:hover
		color: $text
		+background-image(linear-gradient(to bottom, $menu-grad-stop 0, $menu-grad-start 100%))

.contacts_form .btn_gray
	width: 110px
	height: 35px

//forms

input, textarea
	padding: 5px 12px
input
	height: 35px

input[type="text"]:focus, textarea:focus
	outline: none
input, textarea
	border: #e2e2e2 1px solid
	border-radius: 5px

//blocks 
//top
.top 
	background-color: $blue
	border-bottom: $light-blue 4px solid
	padding: 8px 0 5px 0
	height: 45px

.top_addr span, .top_time span, .top_addr span, .top_comparisone span, .top_useracc a
	color: $text-inv
	font-size: 15px


.top_addr span img, .top_time span i, .top_useracc img
	color: $light-blue
	margin-right: 5px
	font-size: 15px
	display: inline-block
	vertical-align: middle

.top_addr, .top_time, .top_comparisone, .top_comparisone a, .top_comparisone span, .top_useracc, .top_useracc a, .top_useracc img
	display: inline-block
	vertical-align: top
	line-height: 100%

.top_addr
	margin-right: 17px

.top .text-right
	padding-top: 3px

.top_comparisone a, .top_useracc a 
	color: $link-white
	text-decoration: underline

.top_comparisone .top_comparisone__counter 
	color: $blue
	width: 17px
	height: 17px
	line-height: 18px
	font-size: 10px
	background-color: #FFF
	display: inline-block
	text-align: center
	border-radius: 20em
	font-family: "PantonBold"
	position: relative
	left: -9px

.top_comparisone a 
	margin-right: 12px

.top_useracc img
	margin-right: 9px

//header
header 
	padding: 25px 0 0 0
	background-color: #FFF

.main header
	background: none
.search
	margin-top: 17px
	margin-left: 22px
	
	form 
		input 
			border: 1px solid $border-input
			width: 189px
			border-radius: 5px 0 0 5px
			height: 35px
			display: inline-block
			vertical-align: bottom
			font-size: 14px
			margin-right: -5px

		input[type="submit"]
				border: none
				background-color: $blue
				width: 38px
				height: 35px
				border-radius: 0 5px 5px 0
				display: inline-block
				vertical-align: bottom
				color: $text
		span
			position: relative
			left: -25px
			top: -2px	
			color: $text-inv



.phones, .cartmod 
	text-align: right
.phones
	margin-top: 5px
	position: relative
	left: 16px
.cartmod
	margin-top: 6px

.cartmod img
	margin-right: 5px

.cartmod_content
	padding-top: 5px
	line-height: 127%

.phones .phones_text, .cartmod .cartmod_content 
	text-align: left 
	
	
.phones img, .cartmod img, .phones .phones_text, .cartmod .cartmod_content
	display: inline-block
	vertical-align: middle

.phones img, .cartmod img 
	margin-right: 10px

.phones .phones_phone 
	font-size: 15px
	font-family: "PTSansBold"

.phones_link, .cartmod_link 
	color: $link-blue
	text-decoration: underline
	font-size: 14px

.phones_unite, .cartmod_unite 
	line-height: 100%
	font-size: 14px

.cartmod_unite 
	font-family: "PTSansBold"

.cartmod_summ
	font-size: 14px

//menu


				
.topnav
	+background-image(linear-gradient(to top, $menu-grad-stop 0, $menu-grad-start 100%))
	box-shadow: 0px 2px  5px 1px rgba(0,0,0, .2)
	border-radius: 4px
	margin-top: 10px
	position: relative
	z-index: 999
	position: relative
	top: 20px

	

	ul
		list-style: none
		padding-left: 0
		text-align: justify
		height: 40px
		display: flex
		justify-content: center
		align-items: center
		border-top: rgba(51, 51, 51, 0.15) 1px solid
		margin-bottom: 0
		margin-top: 0
		

		li 
			display: inline-block
			vertical-align: top
			line-height: 40px
			margin-left: -5px

			&:last-child
				margin-left: 0
				a
					border-right: none
					padding-right: 47px
					border-top-right-radius: 4px
					border-bottom-right-radius: 4px

			&:first-child
				+background-image(linear-gradient(to top, #ea6c11 0, #fa7413 100%))
				width: 158px
				height: 40px
				border-radius: 4px
				margin-left: 0

				a
					color: $text-inv
					height: 100%
					line-height: 100%
					padding-left: 32px
					padding-right: 32px

					&:hover
						+background-image(linear-gradient(to top, #ea6c11 0, #fa7413 100%))					
					img
						display: inline-block
						margin-right: 14px
						vertical-align: top

				

			a 
				font-family: "PTSansBold"
				font-size: 14px
				text-transform: uppercase
				color: $text
				padding: 13px 34px
				border-right: #c8c8c8 1px solid
				display: block
				line-height: 100%
				text-align: center
				text-decoration: none
				letter-spacing: 0.025em

				&:hover, .topnav--current
					background: $menuHov
					color: $text_inv
					text-decoration: none

	
//slider
.slider
	position: relative

	.owl-theme .owl-controls
		bottom: calc(380px/2)
		position: relative
		margin-top: 5px
.owl-theme .owl-controls .owl-buttons div.owl-prev,
.owl-theme .owl-controls .owl-buttons div.owl-next
	position: absolute
	top: 50%
	transform: translate(0, -50%)
	color: $text-inv
	font-size: 18px
	width: 28px
	height: 28px
	border-radius: 4px
	background: rgba(70,69,69, .3)
	text-align: center
	padding: 2px 5px

	

.owl-theme .owl-controls .owl-buttons div.owl-prev
	left: 4px
	span
	color: #fff

.slider .owl-theme .owl-controls .owl-buttons div.owl-next
	right: 5px
	span
	color: #fff

.slider .owl-theme .owl-controls .owl-buttons div.owl-prev,  
.slider .owl-theme .owl-controls .owl-buttons div.owl-next  
	background: rgba(70,69,69, .3)
	font-size: 18px

.mainslider
	height: 355px
	margin-top: 50px
	margin-bottom: 30px

	.slide
		height: 355px
		background: url(../img/slides/slide1.jpg) 0 0 no-repeat
		background-size: cover
		padding: 40px 50px

		.mainslider_content
			float: left
			color: $text-inv
			width: 50%

			h2
				font-family: "PantonExtraBold"
				font-size: 54px
				margin-top: 0
				margin-bottom: 12px
				line-height: 100%
				text-transform: uppercase
				text-align: left
				color: $text-inv
			h3
				font-size: 30px
				font-family: "PantonBold"
				margin-bottom: 23px
				margin-top: 0
				line-height: 100%
				text-transform: uppercase
				color: #fff

			p
				font-size: 15px
				margin-bottom: 23px

//main 
.main
	background: url(../img/bg_texture.png) 0 0 repeat-all
	
	//catlist
.catlist.cat0
	padding: 0

.catlist 
	background: #fff;
	border-radius: 8px
	margin: 33px 0 30px
	box-shadow: rgba(0,0,0, .1) 0 0 20px 0

	
	.catlist_item
		margin-bottom: 45px

		img
			float: left
			margin-right: 0px
		h3
			margin: 0
			display: inline-block
			padding: 0 15px
			font-size: 18px
			text-transform: none
			font-family: "PTSansRegular"
			
		
		ul
			line-height: 120%
			padding-left: 0

			li
				display: inline-block
				margin-right: 2px
				position: relative
				padding-left: 0px
				line-height: inherit

				a
					color: #3784b5
					text-decoration: underline
					font-size: 14px

				&:after
					content: "•"
					position: absolute
					right: -6px
					color: #b6b6b6
					font-size: 9px
					line-height: 250%

.catlist_item ul li:last-child:after
	content: none

.catlist_content
	padding: 30px 45px 20px 45px


.catlist_head
	padding: 10px 30px 8px 38px
	background: $blue
	color: $text-inv
	border-bottom: $light-blue 5px solid
	border-top-left-radius: 6px
	border-top-right-radius: 6px
	line-height: 100%
	h3
		color: #fff
		line-height: 100%
		margin: 0
		font-size: 14px
		font-family: "PTSansRegular"
		text-transform: uppercase
		line-height: 130%
		letter-spacing: 0.05em
		
.catlist_head .row div:last-child 
	text-align: right
	img, a
		display: inline-block
		color: $text-inv
		margin-right: 5px
		vertical-align: middle
		font-size: 15px
		text-decoration: underline

.catlist_itemhead 
	border-bottom: #e8e8e8 1px solid
	display: inline-block
	padding-bottom: 10px
	padding-right: 15px
	

.catlist .row:last-child .catlist_item
	margin-bottom: 0px

.catlist_head--inner 
	background: none
	border: none
	padding: 35px 68px 5px 68px

.catlist_head--inner h1
	padding-bottom: 20px
	border-bottom: #e2e2e2 1px solid
	letter-spacing: 0.05em

.catlist.cat0 .catlist_content
	padding: 0px 68px 65px

.catlist.cat0 .catlist_item h3
	padding-right: 0

.catlist.cat0 .catlist_content .col-lg-4:nth-child(2) .catlist_item
	margin-left: 20px
.catlist.cat0 .catlist_content .col-lg-4:nth-child(3) .catlist_item 
    margin-left: 20px
   


.main.inner .catlist
	margin-bottom: 0

.main.inner .catlist_item
	padding-bottom: 30px
	ul
		list-style: none
		margin-bottom: 7px
		li
			display: block
			margin-bottom: 2px

			&:after
				content: none

//module hits & card product
.modhits 
	padding-top: 20px
	position: relative

.modhits .owl-controls
	position: absolute
	right: 0
	top: -28px

.modhits .owl-theme .owl-controls .owl-pagination div.owl-page
	width: 30px
	height: 30px
	+background-image(linear-gradient(to top, $menu-grad-stop 0, $menu-grad-start 100%))
	color: $text
	text-align: center
	box-shadow: rgba(0,0,0, .1) 0 0 10px 0
	border-radius: 4px
	line-height: 30px
	border: #c8c8c8 1px solid
	display: inline-block
	margin-left: 5px

	&:hover, &.active
		color: #fff
		background: $blue
		box-shadow: none
	
.modhits .owl-theme .owl-controls .owl-pagination div.owl-page span
	background: none
	font-family: 'Glyphicons';
	display: block
	line-height: 120%

.modhits .owl-theme .owl-controls .owl-pagination div.owl-page:first-child span:before
	content: "\e257"


.modhits .owl-theme .owl-controls .owl-pagination div.owl-page:last-child span:before
	content: "\e258"




.modhits p
	font-size: 16px
	text-align: center
	margin: 0

.modhits h2
	margin: 0 15px 0
	text-align: center
	text-transform: uppercase	
	font-size: 28px
	line-height: 140%

.card
	background: #fff
	border-radius: 1px
	border: #f2e3c6 1px solid
	padding: 12px
	text-align: center
	margin: 27px 0 5px
	min-height: 400px
	position: relative
.cat .card
	margin-top: 17px
	margin-bottom: 12px
	&:hover
		box-shadow: rgba(0,0,0, .1) 0 0 10px 0

.main.inner.cat a>img
		margin-top: 20px

.cat .card .card_name
	margin-top: 10px

.card--new .card_label, .product_img .card_label
	position: absolute
	height: 20px
	top: 12px
	left: 15px
	background: $orange
	color: #fff
	font-family: "PTSansBold"
	text-transform: uppercase
	font-size: 12px
	padding: 0px 7px
	line-height: 10px
	border-radius: 3px
	z-index: 99

.card_label:before
	content: ""
	width: 6px
	height: 6px
	background: transparent
	display: block
	position: relative
	top: 20px
	left: 9px
	border-left: #fff 3px solid
	border-right: #fff 3px solid
	border-bottom: none
	border-top: $orange 6px solid

.card a:nth-child(2)
	position: relative
	z-index: 10


.card:first-child  a img
	margin: 0 auto
	text-align: center

.card .card_name 
	font-size: 16px
	color: $text
	line-height: 120%
	margin-top: 32px
	margin-bottom: 25px
	text-decoration: none

.card.card--oldprice .card_name
	margin-bottom: 0px

.card *:not(.btn)
	display: block
.card .btn 
	box-shadow: none
	border: none
	margin: 12px 0

.card_compar, .product_compare
	font-size: 15px
	display: block
	width: auto
	color: $text
	padding-left: 20px
	background: url('../img/compar.png') 25% 50% no-repeat

.card-compar--added, .product_compare--added
	background: url('../img/compared.png') 32% 50% no-repeat
	color: $blue
	text-decoration: underline

.card_compar
	width: 90%
	margin: 0 auto 0 5px

.card--oldprice .card_price--old 
	color: $gray
	text-decoration: line-through
	font-size: 18px
	font-weight: normal
	font-family: "PTSansRegular"

.card_price 
	font-family: "PTSansBold"
	font-size: 18px
	
//news
.news
	margin: 35px 0
	
	.news_item
		text-align: center
		a
			display: block
			img
				max-width: 100%
				border: #f2e3c6 1px solid	
.news
	.modhits_content
		margin-top: 25px
.news_item
	a.news_head
		max-width: 80%
		margin: 0 auto
		h3
			color: $text
			font-weight: normal
			font-size: 16px
			text-decoration: underline
			line-height: 150%
			text-align: center
			text-transform: none	
			font-family: "PTSansRegular"	

//about 
.about
	padding-top: 8px
	margin-bottom: 85px
	h1
		color: $text-head
		font-size: 24px
		margin-bottom: 23px
		border-bottom: rgba(218,200,165, 0.5) 1px solid
		text-transform: none
		padding-bottom: 10px
		letter-spacing: 0.015em

	h3
		font-family: "PantonSemiBold"
		text-transform: none;
		margin-bottom: 13px
		font-size: 21px

	p
		margin-top: 10px

// services

.services
	background: $serv
	padding: 10px
	

.main.inner .services
	margin-top: 0

	div[class^="col-"]
		text-align: left

.services_icon
	width: 67px
	height: 67px
	border-radius: 20em
	background: #fff
	line-height: 67px
	text-align: center
	display: inline-block
	vertical-align: middle
	margin-right: 2px
	margin-left: 30px

.services_text
	display: inline-block
	vertical-align: middle
	line-height: 120%
	font-size: 15px
	text-align: left
	

//brands

.brands
	margin-bottom: 4px
	margin-top: 55px

.article .brands
	margin-bottom: 55px
	margin-top: 45px

	.owl-theme .owl-controls .owl-buttons div.owl-prev 
    	left: -55px

.brands h3
		font-family: "PantonSemiBold"
		font-size: 21px
		text-transform: none
.brands ul 
	padding-left: 0
	margin-bottom: 0
	margin-top: 0

.brands .owl-wrapper
	list-style: none
	.owl-item li
		text-align: center
.carousel_wrap
	position: relative

.brands_carousel
	background: #fff
	border: $serv 1px solid
	height: 80px
	padding-top: 8px

.brands ul li
	&:before
		content: none
		display: none

.brands .owl-controls
	position: relative
	bottom: 30px

.brands .owl-theme .owl-controls
	margin-top: 0

.brands .owl-prev, .brands .owl-next
	position: absolute
	top: 50%
	transform: translate(0,-50%)

	span
		color: #c9b38b

.brands .owl-theme .owl-controls .owl-buttons div.owl-prev
	left: -32px

.brands .owl-theme .owl-controls .owl-buttons div.owl-next
	right: -35px

.brands .owl-theme .owl-controls .owl-buttons div.owl-prev,  
.brands .owl-theme .owl-controls .owl-buttons div.owl-next  
	background: none
	font-size: 18px

//footer
footer
		padding: 40px 0
		height: 188px
		margin-top: 35px
		border-top: #f2e3c6 1px solid
		background: #fff url(../img/foot_r.png) 100% 0 no-repeat, url(../img/foot_l.png) 0 0 no-repeat
		background-color: #FFF !important
		
		.copy
				font-size: 15px
				display: block
				margin-top: 20px

		ul
				padding-left: 0
				color: $text
				font-size: 12px
				margin-top: 25px
				line-height: 100%
				list-style: none

				li
						font-size: 15px
						margin-bottom: 15px
						line-height: 100%

						a
								color: $text
								text-decoration: none
					
								&:hover
										color: $orange
										text-decoration: underline	
footer ul li a span
		font-size: 24px
		display: inline-block
		vertical-align: middle



footer .last
		text-align: right
		.dev
				display: block
				font-size: 15px
				margin-top: 30px
				a 
						color: $light-blue
						text-transform: uppercase
						text-decoration: underline

		h4
				margin: 0
				margin-bottom: 15px
				color: $blue
				font-size: 16px
				font-family: "PantonSemiBold"
				line-height: 100%

// breadcrumbs
.breadcrumbs
	margin: 25px 0 25px


.breadcrumbs ul
	padding-left: 0

.breadcrumbs li
	display: inline-block
	vertical-align: bottom
	line-height: 100%

	&:after
		content: "/"
		display: inline-block
		vertical-align: bottom
		color: $text

	&:last-child:after
		content: none

	&:last-child a
		color: #a0978c
		text-decoration: none

	a
		color: $text
		font-size: 14px
		text-decoration: underline	
		margin-right: 5px
		margin-left: 5px
		padding-left: 0
		padding-right: 0

.main.inner .catlist
	margin-top: 0px
//catalog menu left & filters
aside
	background: #fff
	border: #f2e3c6 1px solid

	
.catmenu ul
	list-style: none
	padding-left: 0
	margin-top: 20px

ul.catmenu_submenu
	margin-top: 7px
	padding-bottom: 20px

.cat aside .catfilter_group h3
	margin-bottom: 5px

.cat aside .catfilter_group	.checkbox-inline
	margin-bottom: 2px

.catmenu li
	margin-top: 20px
	border-left: $orange 5px solid
	border-bottom: #e2e2e2 1px solid
	background: url("../img/catleft.png") 95% 50% no-repeat

	a
		padding: 10px 15px
		display: block
		font-family: "PantonBold"
		font-size: 15px
		color: $text
		text-decoration: none
		line-height: 100%



.catmenu li.open
	border-left: $blue 5px solid
	background: url("../img/catleft_curr.png") 92% 50% no-repeat

.catmenu_submenu
	border-bottom: #e2e2e2 1px solid

.catmenu .catmenu_link--current
	color: $blue

.catmenu_submenu li, .catmenu_submenu li.open 
	border-left: none
	margin-top: 0
	border-bottom: none
	background: none
	a
		font-family: "PTSansRegular"
		color: #6e7078
		font-size: 15px
		padding-top: 10px
		padding-bottom: 10px
		line-height: 15px

.catmenu_submenu li.open a
	color: $blue

.catmenu_submenu li a
	line-height: 100%

.catfilter_group
	padding: 15px
	border-bottom: #e2e2e2 1px solid
	padding: 15px 15px 23px 15px

	h3
		margin-top: 0
		margin-bottom: 15px
		font-size: 15px
		text-transform: none

	input[type="reset"]
		max-width: 195px
		padding: 10px 15px
		line-height: 100%
		font-size: 14px
		display: block
.cat aside .catfilter_group.catfilter_price
	padding-top: 15px
	h3
		margin-bottom: 15px

	input[type="text"]
		height: 30px
.price_download
	margin-top: 15px

	img, a
		display: inline-block
		vertical-align: middle
	a
		font-size: 15px
		color: $text
		text-decoration: underline
	img
		margin-right: 10px
// radio
[type="radio"]
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px

label
	display: inline-block
	cursor: pointer
	line-height: 100%
	font-size: 15px

[type="radio"] + span 
	display: block
	font-size: 14px

[type="radio"] + span:before 
	content: ""
	display: inline-block
	width: 14px
	height: 14px
	vertical-align: 0.1em
	border-radius: 1em
	border: 1px solid #fff
	box-shadow: 0 0 0 1px #e2e2e2
	margin-right: 13px
	transition: 0.5s ease all

[type="radio"]:checked + span:before
	background: #fff
	box-shadow: 0 0 0 6px $orange
	width: 6px
	height: 6px
	margin-right: 15px
	margin-left: 5px

//checkbox
[type="checkbox"]
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px


[type="checkbox"] + span 
	display: block
	font-size: 14px
	position: relative

[type="checkbox"] + span:before 
	content: ""
	display: inline-block
	width: 14px
	height: 14px
	vertical-align: -0.1em
	border: 1px solid #fff
	box-shadow: 0 0 0 1px #e2e2e2
	margin-right: 15px
	transition: 0.5s ease all

[type="checkbox"]:checked + span:before
	font-family: Glyphicons
	font-size: 9px
	line-height: 13px
	color: #fff
	content: "\e013"
	background: $orange
	width: 15px
	height: 15px
	border: 0
	box-shadow: none
	margin-right: 15px
	margin-left: 0
	text-align: center

.checkbox-inline 
	margin-bottom: 10px

// sliderUI

.catfilter_slider
	margin-top: 15px 

.catfilter_slider .ui-state-default, .catfilter_slider .ui-widget-content .ui-state-default
	background: url("../img/slider_druger.png") 0 0 no-repeat !important
	border: none !important
	width: 11px !important
	height: 21px !important

	&:focus
		outline: none
.catfilter_slider.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content
	border: $light-blue 1px solid !important
	background: $light-blue
	border-radius: 8px
	height: 8px			

.catfilter_slider .ui-slider-range.ui-corner-all.ui-widget-header
	background: $blue

.catfilter_ruler
	display: flex
	justify-content: space-between
	width: 95%
	margin: 0 auto

.catfilter_unitewr
	display: flex
	justify-content: space-between

.catfilter_unite:nth-child(2)
	position: relative
	left: 15px

.catfilter_unite
	font-size: 10px

.catfilter_rulerwr
	text-align: justify

.catfilter_ruler span
		width: 2px
		height: 5px
		background: $light-blue

.catfilter_price input[type="text"]
	display: inline-block
	width: 65px
	padding: 5px 10px
	line-height: 100%

.price_divider 
	margin: 0

.catfilter_group.catfilter_pattern
	margin-bottom: 5px
	padding-bottom: 33px
.catfilter_pattern [type="checkbox"]+span:before
	margin-right: 40px

.catfilter_pattern .radio-inline
	position: relative

.catfilter_pattern .radio-inline img
	position: absolute
	left: 25px
	top: 7px
	z-index: 1

.catfilter_pattern .radio-inline label
	position: relative
	z-index: 5

input[type="reset"]
	border: #c8c8c8 1px solid
	+background-image(linear-gradient(to top, $menu-grad-stop 0, $menu-grad-start 100%))
	color: $text-head
	font-size: 14px
	padding: 10px 15px
	width: 194px

	&:hover
		outline: none




//pagination
.lk .pagination
	text-align: center
	padding-left: 0
.pagination
	margin: 0 auto
	text-align: left
	padding-left: 88px
	ul
		list-style: none
		margin-top: 10px

		li
			display: inline-block
			margin-right: 10px
			a
				color: $text
				text-decoration: none
			a.pag_link--current
				color: $orange

		li.pagination_prev
			padding-left: 17px
			background: url("../img/pag_arr_left.png") 0% 50% no-repeat
			text-decoration: underline

		li.pagination_next
			padding-right: 20px
			background: url("../img/pag_arr_right.png") 100% 50% no-repeat
			text-decoration: underline

.catsort
	background: #f7e7ca
	padding: 10px

	span, form
		display: inline-block
		vertical-align: middle

	select > option
		font-size: 14px
		text-transform: lowercase

	
//content catalog text
.catcontent
	text-align: left
	border-top: rgba(218,200,165,05) 1px solid
	margin-top: 50px
	margin-bottom: 55px

	h2
		text-align: left
		font-size: 21px
		margin-top: 30px
	p
		font-size: 16px

// articles
.main .content
	background: #fff
	border: #f2e3c6 1px solid
	padding: 45px 70px
	margin-bottom: 35px

	header
		padding: 0 0 15px
		border-bottom: #e2e2e2 1px solid
		margin-bottom: 30px
		

		h1
			margin: 0
			line-height: 100%
			letter-spacing: 0.025em


.img--right
	float: right
	margin-right: 15px
	margin-bottom: 15px

.img--left
	float: left
	margin-right: 15px
	margin-bottom: 15px

.clear
	clear: both

// article blog
.blog article
	margin-bottom: 40px

.article_info
	margin-bottom: 20px

.content.blog, .content.article, .content.compare
	margin-bottom: 0

.article_date, .article_badge
	font-family: "PTSansBold"
	color: #fff
	font-size: 12px
	padding: 4px 5px
	border-radius: 3px
	display: inline-block
	margin-right: 5px
	text-transform: uppercase
	line-height: 100%

.article_date
	background: $blue

.article_badge
	background: $orange

.article_img--prev
	float: left
	margin-right: 15px

.article_img--prev 
	width: 160px

	img
		max-width: 100%

.article_header h3
	margin-bottom: 15px

.article ul
	padding-left: 20px
	line-height: 140%
	li
		line-height: 150%
	li:before
		content: "\2043"
		margin-left: -1ex
		margin-right: 1ex

//product
.content.product
	margin-bottom: 0

.product article
	padding-top: 10px

.product h2
	margin-top: 0

.product_spec
	margin-left: 65px
	ul
		padding-left: 0
		margin-bottom: 0
		li
			line-height: 150%
			.spec_unite
				font-family: "PTSansBold"

.product_downd img
	margin-right: 10px

.product_buylist
	margin-top: 45px
	width: 100%
	overflow-x: auto
.cart .product_buylist
	margin-top: 17px
	table form input
		margin-bottom: 0

	table thead td
		padding: 9px 20px

	table thead td:first-child, table tbody tr td:first-child
		text-align: left

	table tbody tr td
		padding: 30px 20px 10px

	table tbody tr td:nth-child(3)
		
		padding-top: 20px
		text-align: left
	table tbody
		vertical-align: top

	table tbody tr td:last-child
		float: right
		a
			text-align: left
.product .table_responsive	
	width: 1006px	 

.table_responsive 
	width: 990px

table
	width: 100%
	text-align: center



	tr
		border-bottom: #e2e2e2 1px solid
		td	
			padding: 13px 20px
			font-size: 15px

	thead
		background: $blue
		width: 100%
		height: 38px
		border-top: $light-blue 1px solid



		td
			display: table-cell
			padding: 13px 20px
			font-family: "PantonBold"
			font-size: 13px
			text-transform: uppercase
			color: #fff
			font-weight: normal

.product_fulltext
	margin-top: 22px

.content.product
	padding-bottom: 105px
	padding: 45px 65px 70px

.content.product--2
	padding-bottom: 116px

.product_code
	color: $blue

.quantity_btn
	display: inline-block
	width: 25px
	height: 25px
	border-radius: 4px
	+background-image(linear-gradient(to top, $menu-grad-stop 0, $menu-grad-start 100%))
	cursor: pointer
	border: #e2e2e2 1px solid
	font-size: 18px
	line-height: 120%
	font-family: "PTSansBold"

	&:hover
		+background-image(linear-gradient(to top, $menu-grad-start 0, $menu-grad-stop 100%))

	&:focus
		outline: none

	&:active
		box-shadow: inset rgba(0,0,0,0.15) 0 0 10px 0px

.product_quantity form .quantity_count
	border: #e2e2e2 1px solid
	padding: 5px 10px
	max-width: 35px
	height: 25px
	border-radius: 0
	text-align-last: center

.product_quantity form input[type="submit"]
	max-width: 95px
	padding: 10px 25px
	height: 35px
	border-radius: 4px 
	+background-image(linear-gradient(to top, $menu-grad-stop 0, $menu-grad-start 100%))
	border: #e2e2e2 1px solid
	line-height: 100%
	font-size: 14px
	text-align: center
	margin-left: 15px
	color: $text !important

	&:hover
		+background-image(linear-gradient(to top, $menu-grad-start 0, $menu-grad-stop 100%))
		color: $text

	&:focus
		outline: none

	&:active
		box-shadow: inset rgba(0,0,0,0.15) 0 0 10px 0px

.main .content.product header
	margin-bottom: 15px

.product_img 
	position: relative

.product_img .card_label
	top: 0
	left: 0
	z-index: 99

.product_buy
	max-width: 190px
	float: right
	padding-left: 20px
	border-left: #e2e2e2 2px solid
.product .product_price
	font-family: "PTSansBold"
	font-size: 27px
	display: block

.product .product_oldprice
	font-size: 18px
	color: $gray
	text-decoration: line-through

.product_compare
	background-position: 0 50%
	margin-top: 5px



.product_buy .product_quantity
	padding: 15px 0
	margin: 15px 0
	border-top: #e2e2e2 1px solid
	border-bottom: #e2e2e2 1px solid

.product .product_buy .product_quantity
	padding-top: 0	
	padding-bottom: 17px

.product .product_buy form input[type="submit"]
	margin-top: 17px

.product.content .product_buy .product_quantity	form
	margin-top: 15px

.product_buy .product_quantity form span
	text-align: center

.product .product_buy form input
	margin-bottom: 0

.product_buy form input[type="submit"]
	display: block
	background: $blue
	border: none
	color: #fff !important
	width: 175px
	height: 41px
	max-width: 175px
	margin-top: 15px
	margin-left: 0
	text-transform: uppercase
	font-family: "PTSansBold"
	font-size: 14px
	background-image: url(../img/buy_icon.png) 27% 48% no-repeat
	padding: 10px 30px 10px 50px
	text-align: center

	&:hover
		background: $blue
		background-image: url(../img/buy_icon.png) 27% 48% no-repeat

.product .product_buy .product_downd
	margin-top: 38px
	img
		display: inline-block
		width: 10%
		vertical-align: top
	a
		font-size: 15px
		display: inline-block
		width: 84%
		vertical-align: top
		line-height: 120%

//module similar products
.mod_similar
	margin-top: 60px
	margin-bottom: 30px

	.card
		margin-top: 20px

.mod_similar h3
	font-size: 21px
	font-family: "PantonSemiBold"
	margin-bottom: 0
// main catalog (list category)
.cat_item
	border: #f2e3c6 1px solid
	text-align: center
	background: #fff
	margin-bottom: 30px
	box-shadow: 0 3px 5px rgba(0,0,0,0.15)
	img
		display: block
		margin: 0 auto
		max-width: 100%

	a:last-child
		display: block
		border-top: #e2e2e2 1px solid
		+background-image(linear-gradient(to top, $menu-grad-stop 0, $menu-grad-start 100%))
		padding: 15px
		font-family: "PantonBold"
		font-size: 12px
		text-transform: uppercase

.main.inner.cat.cat3 .cat_item img
	margin-top: 0
.cat3 .cat_item a:first-child
	height: 200px
	padding-bottom: 20px
	padding-top: 10px
	img
		height: 100%

.simplecat
	.card
		min-height: 0
//cart

.cart_delete
	padding-left: 20px
	background: url("../img/delete_icon.png") 0 50% no-repeat

.cart table tr td:last-child
	text-align: left

	a 
		text-decoration: none
		display: block
		line-height: 100%

.cart table tr td:nth-child(2)
	text-align: left
	line-height: 120%

	span
		font-size: 14px
		display: block
		margin-top: 20px

.cart .cart_total
	text-align: right
	margin-top: 5px
	font-size: 15px

	span
		font-family: "PantonBold"
		font-size: 18px

.cart .cart_form
	margin-top: 35px

	input
		width: 228px
		margin-left: 24px
		padding-left: 15px

	.btn_orange
		max-width: 123px
		margin-top: 7px
		margin-left: 0px
		text-transform: uppercase
		padding: 10px 20px
		font-family: "PTSansBold"
		font-size: 13px

.content table form
	margin-top: 0
.content.product.cart_page
	padding-bottom: 55px
article form, .content form, .modal form
	margin-top: 25px
	input
		height: 35px
		margin-bottom: 20px
		font-size: 15px
		

		&::-webkit-input-placeholder
			color: $gray
			opacity: 1

		&:-moz-placeholder
			color: $gray
			opacity: 1

		&::-moz-placeholder
			color: $gray
			opacity: 1

		&:-ms-input-placeholder
			color: $gray
			opacity: 1

	label
		font-size: 15px

	[type="submit"]
		line-height: 100%
		padding: 0 15px
		font-size: 14px
		text-transform: none
		font-family: "PTSansRegular"

.cart ul
	padding-left: 0

.cart ul li
	line-height: 140%
	margin-bottom: 30px

.cart ul li span
	font-family: "PTSansBold"

//user account
.content.lk
	padding: 33px 70px 23px
	margin-bottom: 0
.content.lk .table_responsive
	width: 705px

.lk table tbody tr td
	padding: 9px 0

.lk table thead td
	padding: 10px 0
.lk table td:nth-child(2)
	padding-left: 10px
.lk table td:nth-child(3)
	text-align: left
	padding-left: 50px

.lk table td:last-child
	text-align: right

.lk header 
	margin: 0
	padding: 0

.lk header h1
	margin: 38px 0 15px 0

.lk_head h2
	margin: 0
	display: inline-block
	vertical-align: bottom

.lk_head 
	margin-bottom: 30px
	

.lk_nav	
	display: inline-block
	vertical-align: bottom

.lk_nav ul
	margin: 0
	line-height: 100%

.lk_nav li
	display: inline-block
	vertical-align: top
	line-height: 100%


.lk_filter form
	margin-top: 0

	input
		margin-bottom: 0
		border-radius: 2px

	input[type="submit"]
		max-width: 110px
		min-width: 0

		font-size: 12px
		text-transform: uppercase
		font-family: "PTSansBold"

	
	h2, nav, nav li
		display: inline-block
	h2
		font-family: "PantonSemiBold"
		margin-bottom: 5px

nav a 
	font-size: 14px
	padding: 0px 10px
//left menu
nav.lkmenu
	height: 100%
	ul
		padding-left: 0 
		margin: 0

		li 
			border-bottom: #e2e2e2 1px solid
			a
				text-decoration: none
				padding: 15px 20px
				display: inline-block
				width: 100%
				font-family: "PantonBold"
				line-height: 100%
				font-size: 15px
				

			.lkmenu_link--current
				background: $blue
				color: #fff
				
.lk_table table thead
	background: none
	border-top: #e2e2e2 1px solid

.lk_nav
	a
		color: $blue
		text-decoration: none

	.lknav--current
		color: $text

	td
		font-family: "PantonBold"
		font-size: 13px
		text-transform: uppercase
		color: $text
.lk .btn
	+background-image(linear-gradient(to top, $menu-grad-stop 0, $menu-grad-start 100%))	
	box-shadow: none
	cursor: pointer
	border-radius: 4px
	font-size: 14px
	width: 90px
	min-width: 0
	text-align: center
	padding: 5px

	&:hover
		+background-image(linear-gradient(to top, $menu-grad-start 0, $menu-grad-stop 100%))

	&:focus
		outline: none

	&:active
		box-shadow: inset rgba(0,0,0,0.15) 0 0 10px 0px
.lk_filter 
	background: #f3f3f3
	padding: 10px 20px 18px
	margin-bottom: 28px

	input[type="text"]
		width: 100px
		height: 28px
		display: inline-block
		background: #fff url("../img/calend.png") 95% 50% no-repeat
		padding: 5px
		font-size: 14px


	input[type="submit"]
		display: block
		width: 107px
		height: 35px
		line-height: 100%
		padding: 0
		font-size: 12px
		margin-top: 10px
		border-radius: 5px	


	span:first-child
		font-family: "PTSansBold"
	span
		margin: 0 7px 0 0
		display: inline-block
		font-size: 14px
.lk_table
	margin-bottom: 25px
	overflow: hidden
	overflow-x: auto

	thead td
		color: $text
.lk table tr td:first-child
	text-align: left

.lk_info 
	padding: 0 0 20px 0
	border-bottom: #e2e2e2 1px solid
	border-top: #e2e2e2 1px solid

	ul
		padding-left: 0

		li
			line-height: 100%
			margin-bottom: 10px

	h3
		font-family: "PantonSemiBold"

.lk .product_buylist
	margin-top: 0

	.product_code
		display: block
		line-height: 110%
		color: #3784b5
		margin-bottom: 10px

.lk .cart_total
	float: right

	span
		font-size: 15px
		font-family: "PTSansRegular"

	strong
		font-size: 18px

	.col-md-5
		text-align: left

.print_link
	background: url("../img/print_icon.png") 0 50% no-repeat
	padding-left: 25px

.lk .lk_info 
	.print_link
		margin-right: 20px

.lk 
	input
		margin-bottom: 20px

.balance_minus
	background: url("../img/bal_minus.png") 0 50% no-repeat
	padding-left: 40px
	
.balance_plus
	background: url("../img/bal_plus.png") 0 50% no-repeat
	padding-left: 40px
	

.balance_plusm
	color: $blue

.lk_balance
	margin-bottom: 40px

	div:last-child
		text-align: right

	div:first-child
		text-align: left
//contacts
.gis2
	width: 100%
	height: 370px
	margin: 35px 0

.contacts_form textarea
	width: 225px

.contacts_form [type="submit"] 
	+background-image(linear-gradient(to top, $menu-grad-stop 0, $menu-grad-start 100%))
	color: $text-head
	box-shadow: none
	text-transform: none
	font-size: 14px
	margin-top: 15px
	
	

	&:hover
		+background-image(linear-gradient(to top, $menu-grad-start 0, $menu-grad-stop 100%))

	&:focus
		outline: none

	&:active
		box-shadow: inset rgba(0,0,0,0.15) 0 0 10px 0px

.compare .compare_left
	padding-right: 5px

// .compare .row div[class^="col"]
// 	padding-left: 0



.compare_zone
	overflow: hidden
	overflow-x: scroll
	margin-left: -13px

	.table_responsive


	.row
		display: flex

		.compare_item
			

			&:first-child
				margin-left: 10px

			.card
				border: #e2e2e2 1px solid
				height: 368px
				width: 224px
				min-height: 0
				margin-right: 13px
				margin-left: 20px

				.card_close
					display: block
					position: absolute
					right: 10px
					top: 10px
					z-index: 99
					width: 15px
					height: 15px
					cursor: pointer

			.compare_data ul
				padding-left: 0
				margin-top: 25px
				

			.compare_data li:nth-child(odd)
				background: #f3f3f3

			.compare_data li:last-child
				height: 38px


			.compare_data li
				font-size: 14px
				padding: 5px 15px 6px 18px 
				line-height: 100%

				.compare_unite 
					font-family: "PTSansBold"
					margin-right: 10px

.compare_left
	position: relative

.compare_units ul
	padding-left: 0
	margin-bottom: 0

	li
		font-size: 14px
		padding: 6px 15px 5px
		line-height: 100%

		.compare_unite
			font-family: "PTSansBold"
			
.compare_data--units li:nth-child(odd)
	background: #f3f3f3

.compare_item .card--compare
	margin-right: 10px
	margin-left: 10px

.compare_filter input[type="reset"] 
	background: transparent url("../img/delete_icon.png") 0 50% no-repeat;
	border: none
	padding: 0 0 0 20px
	line-height: 100% 
	margin-top: 15px
	text-align: left

.compare_catlist
	height: 212px

.card--compare .btn_blue
	width: 147px
	margin-left: auto
	margin-right: auto

//stuff

form
	input[type="submit"].submit--blue
		background: $blue
		font-size: 12px 
		text-transform: uppercase
		font-family: "PTSansBold"
		color: #fff
		

//popups
.modal 
	min-width: 550px
	max-height: 95%
	background: #fff
	position: absolute
	top: 50% 
	left: 50% 
	transform: translate(-50%, -50%)
	display: none
	opacity: 0
	z-index: 9999
	padding: 30px
	overflow-y: auto



	h2,h3
		margin-top: 30px
		margin-bottom: 10px
		margin-left: 25px
		
		text-transform: uppercase
		font-size: 22px

	a
		display: block

	.modal_reg
		color: $blue

	p
		margin-top: 0
		margin-bottom: 40px
		margin-left: 25px

	.btn
		height: 40px


	label
		font-size: 14px

	input
		padding: 5px 10px
		margin-bottom: 15px

	input[type="submit"]
		color: #fff
		max-width: none
		padding: 5px 25px
		margin: 10px 0

.modal form input[type="submit"]
	max-width: none

.modal .close, .modal_top .close
	width: 21px
	height: 21px
	position: absolute
	top: 24px
	right: 20px
	cursor: pointer
	display: block
	background: url("../img/close_icon.png") 50% 50% no-repeat

.modal.added .btn
	display: inline-block
	width: 200px
	line-height: 130%
	font-family: "PTSansBold"
	font-size: 14px
	padding: 10px 15px
	letter-spacing: 0.05em

.modal.added .btn_orange
	width: 200px
	margin-left: 28px


.modal.added .btn_gray
	width: 220px
	margin-left: 18px
	

.modal .catfilter_group
	margin-bottom: 20px

	.radio-inline label
		text-transform: uppercase
		font-family: "PTSansBold"

.modal.modal--login
	min-width: 460px

	h3
		text-transform: none
		font-size: 24px
		margin-top: 20px
		margin-bottom: 5px

	p
		margin-bottom: 0

	form
		margin-top: 20px
		width: 85%
		margin-left: auto
		margin-right: auto

		input
			margin-left: 20px
			width: 225px

		.submit--blue
			width: 103px

		a
			margin-left: 20px

.modal.modal--login 
	.catfilter_group 
		margin-bottom: 15px
		padding: 20px 0 10px 0px

	.checkbox-inline
		margin-left: 18px

		input
			margin-bottom: 18px

.modal.modal--login.modal--reg

		form
			margin-top: 0
		form input
				margin-left: -10px	

		form input.re-pass
			margin-left: -40px

		form .checkbox-inline
			margin-left: -7px

		form .submit--blue
			width: 200px

		form a
			margin-left: -8px

		form .catfilter_group:first-child
			padding-bottom: 20px
			margin-bottom: 0px
.modal.modal--login.modal--reg
	max-height: none
	transform: translate(-50%, -40%)

.modal.modal--pass
	width: 455px
.modal.modal--pass form .submit--blue
	width: 150px

.modal.modal--err
	p
		margin-bottom: 20px	

	.btn.btn_blue
		margin-left: 20px
		width: 135px
.overlay
	z-index: 999
	position: fixed
	background-color: #000
	opacity: 0.4
	width: 100%
	height: 100%
	top: 0
	left: 0
	cursor: pointer
	display: none

.modal .catfilter_group
	padding-left: 0

.modal_top
	padding: 12px 0
	border-top: $blue 6px solid
	position: fixed
	background: #fff
	width: 100%
	z-index: 9999
	box-shadow: 0 2px 5px rgba(0,0,0,0.2)

	h4
		margin-bottom: 8px
		margin-top: 0
		letter-spacing: 0.045em
		font-weight: normal

	p
		margin: 0
		font-size: 13px
		letter-spacing: 0.04em

	h4, p
		
		line-height: 100%

	h4
		text-transform: uppercase
		font-size: 15px
		font-family: "PTSansBold"

	.btn	
		float: right
		margin-right: 77px
		width: 180px

	.close
		top: 5px

.search_result
	margin-bottom: 25px
	display: block


select
	width: 150px
	height: 30px
	border: #ecdbbc 1px solid
	color: $text
	text-transform: lowercase
	padding-left: 9px
	font-size: 14px

.main.inner.cat .breadcrumbs
	margin-bottom: 40px

.cat3 .cat_item a
	display: block

	&:last-child
		padding-top: 14px
		

	img
		height: 175px
.cat .catcontent
	margin-top: 25px

.compar h1
	margin-top: 40px

.compar .compare
	padding-top: 20px

	p
		margin-bottom: 0

	form
		margin-top: 11px

		select
			width: 190px
			border-radius: 3px
			border-color: #e2e2e2
			height: 30px
			text-transform: capitalize
			padding-left: 5px
			margin-bottom: 0px

		input[type="reset"]
			margin-top: 0px
.compare_data--units ul
	margin-top: 21px

.main.inner.finded h1	
	margin-top: 40px
	margin-bottom: 10px
	letter-spacing: 0.05em	
.finded .catsort 
	margin-bottom: -7px
	padding-left: 20px
.finded .pagination
	text-align: center
	margin-bottom: 25px
.order_info
	.lk
		padding: 35px 65px

		.lk_head
			margin-bottom: 27px
		.lk_info h3
			margin-bottom: 16px
		.lk_info
			padding-bottom: 26px
			margin-bottom: 20px
			ul li
				line-height: 100%
				margin-bottom: 8px
		.table_responsive
			width: 715px
		table thead
			td
				width: calc(715px/4)
				padding: 8px
				text-align: center
		table thead td:first-child
			padding-left: 22px
			width: calc(715px/3)
			text-align: left


		table thead td:last-child
			padding-right: 22px
			text-align: right

		
		table tbody td:first-child
			padding-left: 22px
			padding-top: 19px
			text-align: left
			

			.product_code
				margin-bottom: 14px
		table tbody td:nth-child(2)
			
			

		table tbody td:nth-child(3)
			
			

		table tbody td:last-child
			padding-right: 20px
			text-align: right
			

		table tbody td
			vertical-align: top
			text-align: center
			padding: 18px 0 20px

	.cart_total
		margin-top: 20px
		line-height: 180%
		width: 35%

		.row .col-md-7
			text-align: right



.lk.sett
	.lk_head
		border-bottom: #e2e2e2 1px solid
		margin-bottom: 21px
		padding-bottom: 29px

	form
		margin-top: 0

		input
			margin-left: -12px
			width: 223px

		label
			margin-top: 9px	

		.row:nth-child(6) input
			margin-bottom: 9px

		.checkbox-inline
			margin-left: 50px
			margin-top: 0
			margin-bottom: 17px

		.submit--blue
			margin-left: 47px
			width: 133px
.lk.sett.sett--f
	form .row:nth-child(4) input
		margin-bottom: 7px

.lk.sett.sett--pass

		form
			input
				margin-left: 12px

			.submit--blue
				margin-left: 70px


.lk.sett.sett--pass	p
	margin-bottom: 20px

.lk.sett.sett--pass .content.lk
	padding-bottom: 30px

.lk.lk--bal
	.lk_head
		border-bottom: 1px solid #e2e2e2
		padding-bottom: 27px
		margin-bottom: 20px
	.lk_balance
		margin-bottom: 47px
	table tbody td
		padding: 0
		height: 54px
		text-align: left
		vertical-align: middle
		

	table tbody td:first-child 
		text-align: left
		padding-left: 0

	table tbody td:last-child
		text-align: right

	table tbody td:nth-child(2)
		padding-left: 30px

	table thead td:nth-child(1)
		text-align: left
		width: 25%
	table thead td:nth-child(2)
		text-align: center
		width: 50%
	table thead td:nth-child(3)
		text-align: right
		width: 25%

//cat0 multicolumns

// .catlist.cat0 .catlist_content .row 
//     column-count: 3
//     column-gap: 15px
//     column-fill: auto

//     .col-lg-4
//     	float: none
//     	width: auto

//ALWAYS END
@import "media"
